
<body>
    <%- include("../views/partials/header.ejs") %>
   <h1> <%= locals.title %> </h1>
   <br>

   <% locals.posts.forEach(post => { %>
    <small><%= post.id %></small>
    <h5><%= post.title %></h5> 
    <h5><%= post.content%></h5> 
    <h5>Written By: <%= post.author %></h5>

   <% }); %>

   
    <%- include("../views/partials/footer.ejs") %>
</body>
</html>